@import url(assets/global.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.font-sans{
    font-family: "Open Sans", sans-serif;
}

.grid-coluns{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.grid-price{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.despesas-txt{

    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus{
        border: 2px solid var(--green-100s);
        outline: none;
        transition: all 0.3s ease ;
    }

}
.input-error {
  border-color: #dc2626 !important;
}

.input-error:focus {
  border-color: #dc2626 !important;
  box-shadow: 0 0 0 2px rgba(220, 38, 38, 0.15);
} 